<h1>Login</h1>
<!-- Prelogin -->
<section id="prelogin">
    <div class="container">
        <div class="row center-align">
            <a class="waves-effect waves-light btn" ng-click="login">Login</a>
            <a class="waves-effect waves-light btn" ng-click="register">Register</a>
        </div>
    </div>
</section>

<!-- Login -->
<section ng-if="login">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a ui-sref="app.prelogin">
                    <button class="btn btn-info">Back</button>
                </a>
            </div>
        </div>
        <form name="login">
            <div class="row center-align">
                <h3>Login</h3>
                <div class="input-field col s8 offset-s2">
                    <input type="text" ng-model="$ctrl.user.email" required>
                    <label for="Email">Email</label>
                </div>
                <div class="input-field col s8 offset-s2">
                    <input type="text" ng-model="$ctrl.user.password" required>
                    <label for="Password">Password</label>
                </div>
                <div class="col s12">
                    <button class="btn btn-info white" ng-disabled="login.$invalid">
                        <a ng-click="$ctrl.connect($ctrl.user)">Connexion</a>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Register -->
<section ng-if="register">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <a ui-sref="app.prelogin">
                    <button class="btn btn-info">Back</button>
                </a>
            </div>
        </div>
        <form name="newUserForm">
            <div class="row center-align">
                <h3>Register</h3>
                <div class="col s12">
                    <div class="input-field col s6">
                        <input id="Name" type="text" ng-model="$ctrl.newUser.name" required>
                        <label for="Name">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="Email" type="text" ng-model="$ctrl.newUser.email" required>
                        <label for="Email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="Password" type="text" ng-model="$ctrl.newUser.password" required>
                        <label for="Password">Password</label>
                    </div>
                </div>
                <div class="col s12">
                    <button class="btn btn-info white" ng-disabled="newUserForm.$invalid">
                        <a ng-click="$ctrl.add($ctrl.newUser)">
                            Create Account
                        </a>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
