<div class="page-header">
    <h1>Login</h1>
</div>
<!-- Prelogin -->
<section id="prelogin">
    <div class="container">
        <div class="row text-align">
            <a class="btn btn-primary" ng-click="login = !login">Login</a>
            <a class="btn btn-primary" ng-click="register = !register">Register</a>
        </div>
    </div>
</section>

<!-- Login -->
<section ng-if="login">
    <div class="container">
        <form name="login">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Login</h3>
                </div>
                <div class="input-field col-sm-12">
                    <label for="Email">Email</label>
                    <input type="text" ng-model="$ctrl.user.email" required>

                </div>
                <div class="input-field col-sm-12">
                    <label for="Password">Password</label>
                    <input type="text" ng-model="$ctrl.user.password" required>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-success" ng-disabled="login.$invalid" ng-click="$ctrl.connect($ctrl.user)">
                        Connexion
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Register -->
<section ng-if="register">
    <div class="container">
        <form name="newUserForm">
            <div class="row">
                <h3>Register</h3>
                <div class="col s12">
                    <div class="input-field col s6">
                        <label for="Name">Name</label>
                        <input id="Name" type="text" ng-model="$ctrl.newUser.name" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="Email">Email</label>
                        <input id="Email" type="text" ng-model="$ctrl.newUser.email" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="Password">Password</label>
                        <input id="Password" type="text" ng-model="$ctrl.newUser.password" required>
                    </div>
                </div>
                <div class="col s12">
                    <button class="btn btn-success" ng-disabled="newUserForm.$invalid" ng-click="$ctrl.add($ctrl.newUser)">
                            Create Account
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
