#game {
    .thumbnail {
        height: 20vh;
        margin-bottom: 0;
    }

    .toe {
        font-size: 10em;
        margin: -10px auto;
        width: 30%;
    }
}

.logout {
    position: fixed;
    top: 10px;
    right: 10px;
}
